<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <button type="button" class="btn btn-primary float-right btn-sm" id="AddCategoriestbtn" data-toggle="modal"
                (click)="largeModal.show()">
                Add Categories
            </button>
            <h4 class="card-title mt-0">Categories List</h4>
        </div>
        <div class="card-body bg-white">
            <div class="table-responsive animated flash">
                <table   class="table " id="DisplayCategoriesView">
                    <thead class="">
                        <th>
                            Categorie Name
                        </th>
                        <th>
                            Display Order
                        </th>

                        <th>
                            Code
                        </th>
                        <th>
                            Description
                        </th>

                        <th colspan="2" class="text-center">
                            Action
                        </th>
                    </thead>
                    <tbody [hidden]="!CategoriesListEmplty">
                        <tr *ngFor="let item of CategoriesList" class="CategoriesListID">
                            <td class="mr-2">
                                {{item.categoriesName}}
                            </td>
                            <td class="mr-2">
                                {{item.displayOrder}}
                            </td>
                            <td class="mr-2">
                                {{item.code}}
                            </td>
                            <td class="mr-2">
                                {{item.description}}
                            </td>

                            <td class="text-right" (click)="CategorieEdit(item.categoriesId)">

                                <button class="btn  btn-lg"> <i class="fa fa-pencil text-success"> </i></button>
                            </td>
                            <td class="mb-2" (click)="CategorieDelete(item.categoriesId)">
                                <button class="btn  btn-lg"><i class="fa fa-trash text-danger"></i> </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2 text-center" [hidden]="CategoriesListEmplty">
                    <div class="spinner-border text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" [config]="{ backdrop: 'static' }" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ModelTitleString}}</h4>
                <button type="button" class="close" (click)="ResetForm()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="CategoriesForm">
                    <input type="hidden" formControlName="CategoriesId">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label>CATEGORY NAME</label>
                            <input class="form-control" id="CategoriesName" formControlName="CategoriesName"
                                placeholder="CATEGORY NAME" type="text"
                                [ngClass]="{ 'is-invalid': FormSubmitted && f.CategoriesName.errors }">
                            <div *ngIf="FormSubmitted && f.CategoriesName.errors" class="invalid-feedback">
                                <div *ngIf="f.CategoriesName.errors.required">Categories Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>DISPLAY ORDER</label>
                            <input class="form-control" id="DisplayOrder" formControlName="DisplayOrder"
                                placeholder="DISPLAY ORDER" type="text">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>CODE</label>
                            <input class="form-control" id="Code" formControlName="Code" placeholder="CODE" type="text">

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label>DESCRIPTION</label>
                            <textarea class="form-control" id="Description" formControlName="Description"
                                placeholder="DESCRIPTION"></textarea>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="ResetForm()">Close</button>
                <button type="button" class="btn btn-primary" (click)="AddCategories(CategoriesForm)">Save
                    changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->