<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(assets/images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Register
                </span>
            </div>

            <form class="login100-form validate-form" [formGroup]="RegisterForm">
                <input type="hidden" formControlName="TenantId">
                <div class="wrap-input100  m-b-6">
                    <span class="label-input100">Company</span>
                    <input class="input100 form-control" type="text" formControlName="TenantName" name="Company"
                        [ngClass]="{ 'is-invalid': FormSubmitted && f.TenantName.errors }" placeholder="Enter Company">
                </div>
                <div class="wrap-input100  m-b-6" data-validate="Email Id is required">
                    <span class="label-input100">Username</span>
                    <input class="input100 form-control" type="text" formControlName="EmailId" name="EmailId"
                        placeholder="Enter Email Id" [ngClass]="{ 'is-invalid': FormSubmitted && f.EmailId.errors }">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100  m-b-8" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100 form-control" type="password" formControlName="Password" name="pass"
                        placeholder="Enter Password" [ngClass]="{ 'is-invalid': FormSubmitted && f.Password.errors }">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100  m-b-6" data-validate="Confirm Password is required">
                    <span class="label-input100 ">Confirm Password</span>
                    <input class="input100 form-control" type="text" formControlName="ConfirmPassword" name="Confirm"
                        placeholder="Enter Confirm Password" [ngClass]="{ 'is-invalid': FormSubmitted && f.ConfirmPassword.errors }">
                    <span class="focus-input100"></span>
                </div>
                <div class="flex-sb-m w-full p-t-10">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <!-- <div>
                        <a href="#" class="txt1">
                            Forgot Password?
                        </a>
                    </div> -->
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="SaveRegsiter(RegisterForm)">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>