<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <a><button type="button" class="btn btn-primary float-right btn-sm" id="AddCustomerbtn" data-toggle="modal"
                    (click)="addnewcustomer()">
                    Add Customer
                </button>
            </a>
            <h4 class="card-title mt-0">Customer List</h4>
        </div>
        <div class="card-body bg-white">
            <div class="table-responsive animated flash">
                <table class="table " id="DisplayCustomerView">
                    <thead class="">
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Customer Code
                        </th>

                        <th>
                            Customer Group
                        </th>
                        <th colspan="3" class="">
                            Action
                        </th>
                    </thead>
                    <tbody class="LoderoutCustomer">
                        <tr *ngFor="let item of CustomerList.Customer">
                            <td>{{item.customerName}}</td>
                            <td>{{item.customerCode}}</td>
                            <td>{{item.customerTypeId}}</td>
                            <td class="h5">
                                <span class="text-primary mr-3" style="cursor: pointer;"
                                    (click)="EditCustomer(item.customerId)">
                                    <i class="fa fa-pencil"></i>
                                </span>

                                <span class="text-danger " style="cursor: pointer;"
                                    (click)="DeleteCustomer(item.customerId)">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="CustomerList.Customer?.length == 0" >
                            <td class="text-success text-center" colspan="4">Not Data found</td>
                        </tr>
                    </tbody>
                </table>


                <div class="mt-2 mb-2 text-center" [hidden]="!LoderoutCustomer">
                    <div class="spinner-border text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{modeltitle}}</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <tabset>
                    <tab id="customerDetail">
                        <form [formGroup]="AddCustomerForm">
                            <ng-template tabHeading><i class="icon-user text-info"></i> Customer Details</ng-template>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <input type="hidden" formControlName="customerId" name="" id="">
                                    <label for="city">CUSTOMER NAME</label>
                                    <input class="form-control" (keypress)="allowalpha($event)" id="CUSTOMER-NAME"
                                        formControlName="customerName"
                                        [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }"
                                        placeholder="CUSTOMER NAME" type="text">
                                    <div *ngIf="submitted && f.customerName.errors" class="invalid-feedback">
                                        <div *ngIf="f.customerName.errors.required">Customer Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-2"></div>
                                <div class="form-group col-sm-4">
                                    <label for="postal-code">CUSTOMER CODE</label>
                                    <input class="form-control" id="CUSTOMER-CODE" formControlName="customerCode"
                                        placeholder="CUSTOMER CODE" type="text">

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="city">CUSTOMER GROUP <i class="fa fa-info-circle text-info" tooltip="Assign a group to this customer. For each product,
                                      specific prices can be applied on customer groups,
                                       tagging customer group for this customer allow you
                                        to generate accurate sales report for different customer
                                         group. This allow you to set product prices & other features."
                                            placement="right"></i></label>
                                    <select class="form-control" formControlName="customerTypeId" id="ccyear">

                                        <option value="">--Select--</option>
                                        <option *ngFor="let type of CustomerTypeList" [value]="type.customerTypeId">
                                            {{type.customerTypeName}}
                                        </option>

                                    </select>
                                </div>
                                <div class="form-group col-sm-2"></div>
                                <div class="form-group col-sm-4">
                                    <label for="postal-code">WEBSITE</label>
                                    <input class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.website.errors }" id="CUSTOMER-CODE"
                                        formControlName="website" placeholder="WEBSITE" type="text">
                                    <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                                        <div *ngIf="f.website.errors.pattern">Input Valid URL</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="city">TAX REGISTRATION NUMBER</label>
                                    <input class="form-control" id="TAX-REGISTRATION-NUMBER"
                                        placeholder="TAX REGISTRATION NUMBER" formControlName="taxRegistrationNumber"
                                        [ngClass]="{ 'is-invalid': submitted && f.taxRegistrationNumber.errors }"
                                        type="text">
                                    <div *ngIf="submitted && f.taxRegistrationNumber.errors" class="invalid-feedback">
                                        <div *ngIf="f.taxRegistrationNumber.errors.maxlength">Tax Registration Number is
                                            allow only(9)
                                        </div>
                                        <div *ngIf="f.taxRegistrationNumber.errors.minlength">Tax Registration Number is
                                            allow only(9)
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group col-sm-2"></div>
                                <div class="form-group col-sm-4">
                                    <label for="postal-code">REMARKS</label>
                                    <input class="form-control" formControlName="remarks" id="REMARKS"
                                        placeholder="REMARKS" type="text">
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-sm-4">
                                    <label for="city">DEFAULT CREDIT TERMS <i class="fa fa-info-circle text-info"
                                            tooltip="Selecting a default credit term saves you time when a document is created"
                                            placement="right"></i>
                                    </label>
                                    <select class="form-control" formControlName="defaultCreditTerms" id="ccyear">

                                        <option value="">--Select--</option>
                                        <option *ngFor="let type of CreditTermsList" [value]="type.creditTermId">
                                            {{type.code}}
                                        </option>

                                    </select>
                                </div>
                                <div class="form-group col-sm-2"></div>
                                <div class="form-group col-sm-4">
                                    <label for="postal-code">DEFAULT CREDIT LIMIT
                                    </label>
                                    <input class="form-control" formControlName="defaultCreditLimit"
                                        id="DEFAULT-CREDIT-LIMIT" autocomplete="off"
                                        (keypress)="allownumberwithdot($event)" placeholder="DEFAULT CREDIT LIMIT"
                                        type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="city">DEFAULT DISCOUNT TYPE
                                    </label>
                                    <select class="form-control" formControlName="discountOption" id="DiscountOption">
                                        <option value="0" selected>--Select--</option>
                                        <option *ngFor="let item of DiscountTypeList" [value]="item.discounttTypeId">
                                            {{item.discountName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2"></div>
                                <div class="form-group col-sm-4">
                                    <label for="postal-code">DISCOUNT AMOUNT
                                    </label>
                                    <input class="form-control" digitOnly formControlName="discountAmount"
                                        id="DEFAULT-CREDIT-LIMIT" (keypress)="allownumberwithdot($event)"
                                        autocomplete="off" placeholder="DISCOUNT AMOUNT" type="text">
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="postal-code">DEFAULT CURRENCY
                                    </label>
                                    <select class="form-control" formControlName="defaultCurrency" id="ccyear">
                                        <option selected value="">--Select--</option>
                                        <option *ngFor="let item of CurrencyList" [value]="item.currencyId">
                                            {{item.currencyName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </tab>
                    <tab id="customerAddress">
                        <ng-template tabHeading><i class="fa fa-file text-info"></i> Addresses </ng-template>
                        <div [hidden]="!AddressLenghtcount">
                            <div class="table-responsive animated flash">
                                <table class="table " id="AddressList">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;">Address Type</th>
                                            <th style="width: 30%;">Address</th>
                                            <th style="width: 10%;">City</th>
                                            <th style="width: 10%;">Postal Code</th>
                                            <th style="width: 15%;" class="ml-2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let type of AddressList.Address; let i = index">
                                            <td *ngIf="type.addressType==1"> Billing</td>
                                            <td *ngIf="type.addressType==2"> Shipping</td>
                                            <td *ngIf="type.addressType==0">--Select--</td>
                                            <td>{{type.address}}</td>
                                            <td>{{type.city}}</td>
                                            <td>{{type.postalCode}}</td>
                                            <td>
                                                <span style="cursor: pointer;" class="btn-lg mr-5">
                                                    <span class="text-primary " (click)="EditAddress(i)">
                                                        <i class="fa fa-pencil"></i>
                                                    </span>
                                                    <!-- <span class=" ml-2" >
                                                        <i class="fa fa-check"></i>
                                                    </span> -->
                                                    <span [ngClass]="{'text-primary': type.defaultAddress}" class="ml-2"
                                                        (click)="SetDeafult(type.defaultAddress,i)">
                                                        <i class="fa fa-check"></i>
                                                    </span>
                                                    <span [hidden]="type.defaultAddress" class="text-danger ml-2"
                                                        (click)="DeleteAddress(i)">
                                                        <i class="fa fa-trash"></i></span> </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary btn-md pull-right"
                                    (click)="AddNewAddress()">Add New </button>
                            </div>
                        </div>
                        <div [hidden]="AddressLenghtcount">
                            <form [formGroup]="AddCustomerAddressForm">
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <input type="hidden" formControlName="addressId">
                                        <label for="type"> TYPE
                                        </label>
                                        <select class="form-control"
                                            [ngClass]="{ 'is-invalid': Addresssubmitted && add.addressType.errors }"
                                            formControlName="addressType"
                                            (change)="changeaddresstype($event.target.value)" id="ccyear">
                                            <option value="">--Select--</option>
                                            <option value="1">Billing (%)</option>
                                            <option value="2">Shipping ($)</option>
                                        </select>
                                        <div *ngIf="Addresssubmitted && add.addressType.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="add.addressType.errors.required">Address Type is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-2"></div>
                                    <div class="form-group col-sm-4">
                                        <label for="address">ADDRESS
                                        </label>
                                        <textarea placeholder="Address"
                                            [ngClass]="{ 'is-invalid': Addresssubmitted && add.address.errors }"
                                            class="form-control" formControlName="address"
                                            id="Customer_Address"></textarea>
                                        <div *ngIf="Addresssubmitted && add.address.errors" class="invalid-feedback">
                                            <div *ngIf="add.address.errors.required">Address is required</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="country"> COUNTRY
                                        </label>
                                        <select class="form-control"
                                            [ngClass]="{ 'is-invalid': Addresssubmitted && add.countryId.errors }"
                                            formControlName="countryId" id="customer_Coutry">
                                            <option value="">--Select--</option>
                                            <option *ngFor="let item of CountryList" [value]="item.countryId">
                                                {{item.countryName}}</option>

                                        </select>
                                        <div *ngIf="Addresssubmitted && add.countryId.errors" class="invalid-feedback">
                                            <div *ngIf="add.countryId.errors.required">Country is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-2"></div>
                                    <div class="form-group col-sm-4">
                                        <label for="state">STATE
                                        </label>
                                        <input class="form-control" (keypress)="allowalpha($event)"
                                            [ngClass]="{ 'is-invalid': Addresssubmitted && add.state.errors }"
                                            formControlName="state" autocomplete="off" id="customer_State"
                                            placeholder="State" type="text">
                                        <div *ngIf="Addresssubmitted && add.state.errors" class="invalid-feedback">
                                            <div *ngIf="add.state.errors.required">State is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="city"> CITY / TOWN
                                        </label>
                                        <input class="form-control"
                                            [ngClass]="{ 'is-invalid': Addresssubmitted && add.city.errors }"
                                            (keypress)="allowalpha($event)" formControlName="city" autocomplete="off"
                                            id="Customer_City" placeholder="City" type="text">
                                        <div *ngIf="Addresssubmitted && add.city.errors" class="invalid-feedback">
                                            <div *ngIf="add.city.errors.required">City is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-2"></div>
                                    <div class="form-group col-sm-4">
                                        <label for="postal-code">POSTAL CODE
                                        </label>
                                        <input class="form-control"
                                            [ngClass]="{ 'is-invalid': Addresssubmitted && add.postalCode.errors }"
                                            (keypress)="allownumber($event)" autocomplete="off"
                                            formControlName="postalCode" id="Customer_Code" placeholder="Postal Code"
                                            type="text">
                                        <div *ngIf="Addresssubmitted && add.postalCode.errors" class="invalid-feedback">
                                            <div *ngIf="add.postalCode.errors.required">Postal Code is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" [hidden]="!CheckboxFlag">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input"
                                            (change)="CheckAddress($event.target.checked)" id="copyaddress"
                                            type="checkbox" [value]="copyAddress">
                                        <!-- <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span> -->
                                        <label class="custom-control-label offset-1 " for="copyaddress">
                                            {{copyAddress}}
                                        </label>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary btn-md pull-right"
                                        (click)="AddCustomerAddress(AddCustomerAddressForm)">{{addaddresstitle}}</button>
                                    <button type="button" class="btn btn-secondary btn-md mr-2 pull-right"
                                        (click)="CancelAddCustomerAddress()">Cancel </button>

                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab id="customerContact">
                        <ng-template tabHeading><i class="fa fa-phone text-info"></i> Contacts
                        </ng-template>
                        <div [hidden]="!ContactLenghtcount">
                            <div class="table-responsive animated flash">
                                <table class="table " id="AddressList">
                                    <thead>
                                        <tr>
                                            <th>FirstName </th>
                                            <th>Designation</th>
                                            <th>Mobile</th>
                                            <th>Email</th>
                                            <th style="width: 15%;" class="ml-2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Contact of ContactList.Contact; let i = index">
                                            <td>{{Contact.firstName}}</td>
                                            <td>{{Contact.designation}}</td>
                                            <td>{{Contact.mobile}}</td>
                                            <td>{{Contact.email}}</td>
                                            <td>
                                                <span style="cursor: pointer;" class="btn-lg">
                                                    <span class="text-primary " (click)="EditContact(i)">
                                                        <i class="fa fa-pencil"></i>
                                                    </span>
                                                    <span *ngIf="Contact.defaultContact" class="text-primary ml-2">
                                                        <i class="fa fa-check"></i>
                                                    </span>
                                                    <span *ngIf="!Contact.defaultContact" class="ml-2"
                                                        (click)="SetDeafultContact(Contact.defaultContact,i)">
                                                        <i class="fa fa-check"></i>
                                                    </span>
                                                    <span class="text-danger ml-2" (click)="DeleteContact(i)">
                                                        <i class="fa fa-trash"></i></span> </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary btn-md pull-right"
                                    (click)="AddNewContact()">Add New </button>
                            </div>
                        </div>
                        <div [hidden]="ContactLenghtcount">
                            <form [formGroup]="AddCustomerContactForm">
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="designation"> DESIGNATION
                                        </label>
                                        <input type="hidden" formControlName="contactId">
                                        <input class="form-control" formControlName="designation"
                                            id="Customer_Designation" placeholder="Designation" type="text">
                                    </div>
                                    <div class="form-group col-sm-2"></div>
                                    <div class="form-group col-sm-4">
                                        <label for="email"> Email
                                        </label>
                                        <input class="form-control" id="Customer_contact_Email" formControlName="email"
                                            placeholder="Email"
                                            [ngClass]="{ 'is-invalid': contactsubmitted && con.email.errors }"
                                            type="text">
                                        <div *ngIf="contactsubmitted && con.email.errors" class="invalid-feedback">
                                            <div *ngIf="con.email.errors.email">Input Valid Email Address
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label for="name">NAME
                                        </label>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input class="form-control"
                                                    [ngClass]="{ 'is-invalid': contactsubmitted && con.firstName.errors }"
                                                    formControlName="firstName" autocomplete="off"
                                                    (keypress)="allowalpha($event)" id="Customer_contact_fn"
                                                    placeholder="First Name" type="text">
                                                <div *ngIf="contactsubmitted && con.firstName.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="con.firstName.errors.required">First Name is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <input class="form-control" formControlName="lastName"
                                                    id="Customer_contact_ln" autocomplete="off" placeholder="Last Name"
                                                    type="text" (keypress)="allowalpha($event)">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="mobile"> MOBILE
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">{{countryCode}}</span>
                                            </div>
                                            <input class="form-control"
                                                [ngClass]="{ 'is-invalid': contactsubmitted && con.mobile.errors }"
                                                (keypress)="allownumber($event)" id="Customer_contact_Mobile"
                                                autocomplete="off" formControlName="mobile" placeholder="Mobile"
                                                type="text">
                                            <div *ngIf="contactsubmitted && con.mobile.errors" class="invalid-feedback">
                                                <div *ngIf="con.mobile.errors.maxlength">Mobile Number is Maximum(10)
                                                </div>
                                                <div *ngIf="con.mobile.errors.minlength">Mobile Number is Minimum(10)
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-2"></div>
                                    <div class="form-group  col-sm-4">
                                        <label for="fax"> FAX
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">{{countryCode}}</span>
                                            </div>
                                            <input class="form-control" autocomplete="off" formControlName="fax"
                                                id="Customer_contact_Fax"
                                                [ngClass]="{ 'is-invalid': contactsubmitted && con.fax.errors }"
                                                (keypress)="allownumber($event)" placeholder="Area Code & Fax Number "
                                                type="text">
                                            <div *ngIf="contactsubmitted && con.fax.errors" class="invalid-feedback">
                                                <div *ngIf="con.fax.errors.maxlength">Fax Number is Maximum(13)
                                                </div>
                                                <div *ngIf="con.fax.errors.minlength">Fax Number is Minimum(9)
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="office"> PHONE
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">{{countryCode}}</span>
                                            </div>
                                            <input class="form-control" autocomplete="off"
                                                (keypress)="allownumber($event)"
                                                [ngClass]="{ 'is-invalid': contactsubmitted && con.office.errors }"
                                                id="Customer_contact_Office" formControlName="office"
                                                placeholder="Area Code & Phone Number" type="text">
                                            <div *ngIf="contactsubmitted && con.office.errors" class="invalid-feedback">
                                                <div *ngIf="con.office.errors.maxlength">Phone Number is Maximum(13)
                                                </div>
                                                <div *ngIf="con.office.errors.minlength">Phone Number is Minimum(8)
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary btn-md pull-right"
                                        (click)="AddCustomerContact(AddCustomerContactForm)">{{addcontacttitle}}</button>
                                    <button type="button" class="btn btn-secondary btn-md mr-2 pull-right"
                                        (click)="CancelAddCustomerContact()">Cancel </button>
                                </div>
                            </div>


                        </div>
                    </tab>
                </tabset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="ResetForm()">Close</button>
                <button type="button" class="btn btn-primary" (click)="AddCustomer(AddCustomerForm)"
                    [disabled]="saving">
                    {{savebtntitle}}
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->