<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <button type="button" class="btn btn-primary float-right btn-sm" id="AddCustomerbtn" data-toggle="modal"
                (click)="largeModal.show()">
                Add Customer
            </button>
            <h4 class="card-title mt-0">Customer List</h4>
        </div>
        <div class="card-body bg-white">
            <div class="table-responsive animated flash">
                <table class="table " id="DisplayCustomerView">
                    <thead class="">
                        <th>
                            Name
                        </th>
                        <th>
                            Gender
                        </th>

                        <th>
                            Email Id
                        </th>
                        <th>
                            Mobile No.
                        </th>

                        <th colspan="3" class="text-center">
                            Action
                        </th>
                    </thead>
                    <tbody class="d-none LoderoutCustomer">
                        <tr *ngFor="let item of EmployeeModelLists" class="CustomerListID">
                            <td class="mr-2">
                                {{item.first_Name}} {{item.last_Name}}
                            </td>
                            <td class="mr-2">
                                {{item.gender}}
                            </td>
                            <td class="mr-2">
                                {{item.departmentName}}
                            </td>
                            <td class="mr-2">
                                {{item.emailId}}
                            </td>
                            <td class="mr-2">
                                {{item.mobileNo}}
                            </td>
                            <td class="mr-2">
                                {{item.hobbiesLists}}
                            </td>
                            <td class="text-center" (click)="EmployeeEdit(item.employeeId)">
                                <i class="material-icons text-warning"> edit</i>
                            </td>
                            <td class="text-center">
                                <i class="material-icons text-success">insert_drive_file</i>
                            </td>
                            <td class="text-center" (click)="DeleteEmpoloyee(item.employeeId)">
                                <i class="material-icons text-danger">
                                    delete_outline
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <div class="mt-2 text-center LodersetEmployee">
                    <div class="spinner-border text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <tabset>
                    <tab>
                            <form [formGroup]="AddCustomerForm">
                        <ng-template tabHeading><i class="icon-user text-info"></i> Customer Details</ng-template>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="city">CUSTOMER NAME</label>
                                <input class="form-control" id="CUSTOMER-NAME" formControlName="CustomerName" placeholder="CUSTOMER NAME" type="text">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="postal-code">CUSTOMER CODE</label>
                                <input class="form-control" id="CUSTOMER-CODE" formControlName="CustomerCode" placeholder="CUSTOMER CODE" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="city">CUSTOMER GROUP <i class="fa fa-info-circle text-info" tooltip="Assign a group to this customer. For each product,
                                      specific prices can be applied on customer groups,
                                       tagging customer group for this customer allow you
                                        to generate accurate sales report for different customer
                                         group. This allow you to set product prices & other features."
                                        placement="right"></i></label>
                                <select class="form-control" formControlName="CustomerTypeId" id="ccyear">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let type of CustomerTypeList"
                                        [value]="type.customerTypeId">
                                        {{type.customerTypeName}}
                                    </option>

                                </select>
                            </div>
                            <div class="form-group col-sm-2"></div>
                            <div class="form-group col-sm-4">
                                <label for="postal-code">WEBSITE</label>
                                <input class="form-control" id="CUSTOMER-CODE" formControlName="Website" placeholder="WEBSITE" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="city">TAX REGISTRATION NUMBER</label>
                                <input class="form-control" id="TAX-REGISTRATION-NUMBER"
                                    placeholder="TAX REGISTRATION NUMBER" formControlName="TaxRegistrationNumber" type="text">
                            </div>
                            <div class="form-group col-sm-2"></div>
                            <div class="form-group col-sm-4">
                                <label for="postal-code">REMARKS</label>
                                <input class="form-control" formControlName="Remarks" id="REMARKS" placeholder="REMARKS" type="text">
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-sm-4">
                                <label for="city">DEFAULT CREDIT TERMS <i class="fa fa-info-circle text-info"
                                        tooltip="Selecting a default credit term saves you time when a document is created"
                                        placement="right"></i>
                                </label>
                                <input class="form-control" formControlName="DefaultCreditTerms" id="DEFAULT-CREDIT-TERMS" placeholder="DEFAULT CREDIT TERMS"
                                    type="text">
                            </div>
                            <div class="form-group col-sm-2"></div>
                            <div class="form-group col-sm-4">
                                <label for="postal-code">DEFAULT CREDIT LIMIT
                                </label>
                                <input class="form-control" formControlName="DefaultCreditLimit" id="DEFAULT-CREDIT-LIMIT" placeholder="DEFAULT CREDIT LIMIT"
                                    type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="city">DEFAULT DISCOUNT TYPE
                                </label>
                                <select class="form-control" (change)="ChangeDiscountvalue($event.target.value)" formControlName="DiscountOption" id="DiscountOption">
                                    <option value="0" selected>--Select--</option>
                                    <option value="1">Percentage (%)</option>
                                    <option value="2">Fixed ($)</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2"></div>
                            <div  class="form-group col-sm-4" *ngIf="DiscountOptionValue==2" style="display: block;">
                                <label for="postal-code">DISCOUNT AMOUNT
                                </label>
                                <input class="form-control" formControlName="DiscountAmount" id="DEFAULT-CREDIT-LIMIT" placeholder="DISCOUNT AMOUNT"
                                    type="text">
                            </div>
                            <div class="form-group col-sm-4" *ngIf="DiscountOptionValue==1" style="display: block;">
                                    <label for="postal-code">DISCOUNT PERCENTAGE
                                    </label>
                                    <input class="form-control" formControlName="DiscountPercentage" id="DEFAULT-CREDIT-LIMIT" placeholder="DISCOUNT PERCENTAGE"
                                        type="text">
                                </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="postal-code">DEFAULT CURRENCY
                                </label>
                                <select class="form-control" formControlName="DefaultCurrency" id="ccyear">
                                    <option selected value="0">--Select--</option>
                                    <option *ngFor="let item of CurrencyList"
                                      [value]="item.currencyId">
                                      {{item.currencyName}}
                                  </option>
                                </select>
                            </div>
                        </div>
                        </form>
                    </tab>
                    <tab>
                        <ng-template tabHeading><i class="fa fa-file text-info"></i> Addresses </ng-template>
                        <div *ngIf="AddressLenghtcount" style="display: block;">
                            <div class="table-responsive animated flash">
                                <table class="table " id="AddressList">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;">Address Type</th>
                                            <th style="width: 30%;">Address</th>
                                            <th style="width: 10%;">City</th>
                                            <th style="width: 10%;">Postal Code</th>
                                            <th style="width: 15%;" class="ml-2" >Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let type of AddressList.Address; let i = index">
                                            <td *ngIf="type.AddressType==1"> Billing</td>
                                            <td *ngIf="type.AddressType==2"> Shipping</td>
                                            <td *ngIf="type.AddressType==0"> </td>
                                            <td>{{type.Address}}</td>
                                            <td>{{type.City}}</td>
                                            <td>{{type.PostalCode}}</td>
                                            <td>
                                                    <span style="cursor: pointer;" class="btn-lg mr-5">
                                                        <span class="text-primary " (click)="EditAddress(i)">
                                                        <i class="fa fa-pencil"></i>
                                                    </span>
                                                    <span *ngIf="type.DefaultAddress" class="text-primary ml-2" >
                                                    <i class="fa fa-check"></i>
                                                </span>
                                                <span *ngIf="!type.DefaultAddress" class="ml-2" (click)="SetDeafult(type.DefaultAddress,i)" >
                                                        <i class="fa fa-check"></i>
                                                    </span>
                                                <span class="text-danger ml-2">
                                                    <i class="fa fa-trash"></i></span> </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary btn-md pull-right" (click)="AddNewAddress()">Add New </button>
                            </div>
                        </div>
                        <div *ngIf="!AddressLenghtcount" style="display: block;">
                        <form [formGroup]="AddCustomerAddressForm">
                        <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="type"> TYPE
                                    </label>
                                    <select class="form-control" formControlName="AddressType" id="ccyear">
                                        <option value="0">--Select--</option>
                                        <option value="1">Billing (%)</option>
                                        <option value="2">Shipping ($)</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2"></div>
                                <div class="form-group col-sm-4">
                                    <label for="address">ADDRESS
                                    </label>
                                    <textarea placeholder="Address" class="form-control" formControlName="Address" id="Customer_Address" ></textarea>
                                    <!-- <input class="form-control" id="DEFAULT-CREDIT-LIMIT" placeholder="DEFAULT CREDIT LIMIT"
                                        type="text"> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="country"> COUNTRY
                                    </label>
                                    <select class="form-control" formControlName="Country" id="customer_Coutry">
                                        <option value="0">--Select--</option>
                                        <option value="1">INDIA</option>
                                        <option value="2">USA</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2"></div>
                                <div class="form-group col-sm-4">
                                    <label for="state">STATE
                                    </label>
                                    <input class="form-control" formControlName="State" id="customer_State" placeholder="State"
                                        type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="city"> CITY / TOWN
                                    </label>
                                    <input class="form-control" formControlName="City" id="Customer_City" placeholder="City"
                                        type="text">
                                </div>
                                <div class="form-group col-sm-2"></div>
                                <div class="form-group col-sm-4">
                                    <label for="postal-code">POSTAL CODE
                                    </label>
                                    <input class="form-control" formControlName="PostalCode" id="Customer_Code" placeholder="Postal Code"
                                        type="text">
                                </div>
                            </div>
                            </form>
                        
                            <div class="row">
                                <div class="col-sm-12">
                            <button type="button" class="btn btn-primary btn-md pull-right" (click)="AddCustomerAddress(AddCustomerAddressForm)">Add </button>
                        </div>
                    </div>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading><i class="fa fa-phone text-info"></i>  Contacts
                        </ng-template>
                        <form [formGroup]="AddCustomerContactForm">
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="designation"> DESIGNATION
                                </label>
                                <input class="form-control" formControlName="Designation" id="Customer_Designation" placeholder="Designation"
                                    type="text">
                            </div>
                            <div class="form-group col-sm-2"></div>
                            <div class="form-group col-sm-4">
                                    <label for="email"> Email
                                    </label>
                                    <input class="form-control" id="Customer_contact_Email" formControlName="Email" placeholder="Email"
                                        type="text">
                                </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="name">NAME
                                </label>
                                <div class="row">
                                <div class="col-sm-4">
                                <input class="form-control" formControlName="FirstName" id="Customer_contact_fn" placeholder="First Name"
                                    type="text">
                                </div>
                                <div class="form-group col-sm-2"></div>
                                <div class="col-sm-4">
                                <input class="form-control" formControlName="LastName" id="Customer_contact_ln" placeholder="Last Name"
                                    type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="mobile"> MOBILE
                                </label>
                                <input class="form-control" id="Customer_contact_Mobile" formControlName="Mobile" placeholder="Mobile"
                                    type="text">
                            </div>
                            <div class="form-group col-sm-2"></div>
                            <div class="form-group col-sm-4">
                                    <label for="fax"> FAX
                                        </label>
                                <input class="form-control" formControlName="Fax" id="Customer_contact_Fax" placeholder="Fax"
                                    type="text">
                            </div>
                        </div>
                        <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="office"> OFFICE
                                    </label>
                                    <input class="form-control" id="Customer_contact_Office" formControlName="Office" placeholder="Office"
                                        type="text">
                                </div>
                            </div>
                            </form>
                            
                    </tab>
                </tabset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="AddCustomer(AddCustomerForm)">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->