<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <!-- <button type="button" class="btn btn-primary float-right btn-sm" id="AddServicebtn" data-toggle="modal"
                (click)="ShowModel()">
                Add Service
            </button> -->
            <h4 class="card-title mt-0">Quotations List</h4>
        </div>
        <div class="card-body bg-white">
            <div class="table-responsive animated flash">
               <input type="number" [(ngModel)]="numbers" class="form-control">
                <button class="btn btn-primary" type="button">check</button>
            </div>
        </div>
    </div>
</div>