<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <button type="button" class="btn btn-primary float-right btn-sm" id="AddRawMaterialtbtn" data-toggle="modal"
                (click)="largeModal.show()">
                Add Raw Materail
            </button>
            <h4 class="card-title mt-0">Raw Materails List</h4>
        </div>
        <div class="card-body bg-white">
            <div class="table-responsive animated flash">
                <table class="table " id="DisplayCategoriesView">
                    <thead class="">
                        <th>
                            Categorie Name
                        </th>
                        <th>
                            Display Order
                        </th>

                        <th>
                            Code
                        </th>
                        <th>
                            Description
                        </th>

                        <th colspan="2" class="text-center">
                            Action
                        </th>
                    </thead>
                    <tbody [hidden]="!RawMaterialList">
                        <tr *ngFor="let item of CategoriesList" class="CategoriesListID">
                            <td class="mr-2">
                                {{item.categoriesName}}
                            </td>
                            <td class="mr-2">
                                {{item.displayOrder}}
                            </td>
                            <td class="mr-2">
                                {{item.code}}
                            </td>
                            <td class="mr-2">
                                {{item.description}}
                            </td>

                            <td class="text-right" (click)="CategorieEdit(item.categoriesId)">

                                <button class="btn  btn-lg"> <i class="fa fa-pencil text-success"> </i></button>
                            </td>
                            <td class="mb-2" (click)="CategorieDelete(item.categoriesId)">
                                <button class="btn  btn-lg"><i class="fa fa-trash text-danger"></i> </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2 text-center" [hidden]="RawMaterialList">
                    <div class="spinner-border text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ModelTitleString}}</h4>
                <button type="button" class="close" (click)="ResetForm()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="RawMaterialForm">
                    <input type="hidden" formControlName="RMId">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>NAME/ITEM</label>
                            <input class="form-control" id="NameOrItem" formControlName="NameOrItem"
                                placeholder="NAME/ITEM" type="text"
                                [ngClass]="{ 'is-invalid': FormSubmitted && f.NameOrItem.errors }">
                            <div *ngIf="FormSubmitted && f.NameOrItem.errors" class="invalid-feedback">
                                <div *ngIf="f.NameOrItem.errors.required">NAME/ITEM is required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>ITEM CODE</label>
                            <input class="form-control" id="ItemCode" formControlName="ItemCode" placeholder="ITEM CODE"
                                type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>CATEGORIES</label>
                            <select class="form-control" formControlName="CategorieId" id="CategorieId">
                                <option value="">--Select--</option>
                                <option *ngFor="let cat of ProductCategorieList" [value]="cat.categoriesId">
                                    {{cat.categoriesName}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>BRAND</label>
                            <select class="form-control" formControlName="BrandId" id="BrandId">
                                <option value="">--Select--</option>
                                <option *ngFor="let brand of ProductBrandList" [value]="brand.brandId">
                                    {{brand.brandName}}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label>DESCRIPTION</label>
                            <textarea class="form-control" id="Description" formControlName="Description"
                                placeholder="DESCRIPTION"></textarea>
                        </div>

                    </div>
                    <div class="row">
                        <div class=" col-sm-6"><br />
                            <label>OPTIONS</label>
                            <div class="custom-control custom-checkbox custom-control-inline offset-2">
                                <input type="checkbox" class="custom-control-input" id="StockItem"
                                    formControlName="StockItem">
                                <label class="custom-control-label" for="StockItem">STOCK ITEM</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="Taxable"
                                    formControlName="Taxable">
                                <label class="custom-control-label" for="Taxable">TAXABLE</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>BARCODE</label>
                            <input type="text" class="form-control" id="BarCode" formControlName="BarCode"
                                placeholder="BARCODE">
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="ResetForm()">Close</button>
                <button type="button" class="btn btn-primary" (click)="AddRawMaterial(RawMaterialForm)">Save
                    changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- <table id="dtMaterialDesignExample" datatable class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Name
        </th>
        <th class="th-sm">Position
        </th>
        <th class="th-sm">Office
        </th>
        <th class="th-sm">Age
        </th>
        <th class="th-sm">Start date
        </th>
        <th class="th-sm">Salary
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
      </tr>
      <tr>
        <td>Garrett Winters</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>63</td>
        <td>2011/07/25</td>
        <td>$170,750</td>
      </tr>
      <tr>
        <td>Ashton Cox</td>
        <td>Junior Technical Author</td>
        <td>San Francisco</td>
        <td>66</td>
        <td>2009/01/12</td>
        <td>$86,000</td>
      </tr>
      <tr>
        <td>Cedric Kelly</td>
        <td>Senior Javascript Developer</td>
        <td>Edinburgh</td>
        <td>22</td>
        <td>2012/03/29</td>
        <td>$433,060</td>
      </tr>
      <tr>
        <td>Airi Satou</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>33</td>
        <td>2008/11/28</td>
        <td>$162,700</td>
      </tr>
      <tr>
        <td>Brielle Williamson</td>
        <td>Integration Specialist</td>
        <td>New York</td>
        <td>61</td>
        <td>2012/12/02</td>
        <td>$372,000</td>
      </tr>
      <tr>
        <td>Herrod Chandler</td>
        <td>Sales Assistant</td>
        <td>San Francisco</td>
        <td>59</td>
        <td>2012/08/06</td>
        <td>$137,500</td>
      </tr>
      <tr>
        <td>Rhona Davidson</td>
        <td>Integration Specialist</td>
        <td>Tokyo</td>
        <td>55</td>
        <td>2010/10/14</td>
        <td>$327,900</td>
      </tr>
      <tr>
        <td>Colleen Hurst</td>
        <td>Javascript Developer</td>
        <td>San Francisco</td>
        <td>39</td>
        <td>2009/09/15</td>
        <td>$205,500</td>
      </tr>
      <tr>
        <td>Sonya Frost</td>
        <td>Software Engineer</td>
        <td>Edinburgh</td>
        <td>23</td>
        <td>2008/12/13</td>
        <td>$103,600</td>
      </tr>
      <tr>
        <td>Jena Gaines</td>
        <td>Office Manager</td>
        <td>London</td>
        <td>30</td>
        <td>2008/12/19</td>
        <td>$90,560</td>
      </tr>
      <tr>
        <td>Quinn Flynn</td>
        <td>Support Lead</td>
        <td>Edinburgh</td>
        <td>22</td>
        <td>2013/03/03</td>
        <td>$342,000</td>
      </tr>
      <tr>
        <td>Charde Marshall</td>
        <td>Regional Director</td>
        <td>San Francisco</td>
        <td>36</td>
        <td>2008/10/16</td>
        <td>$470,600</td>
      </tr>
      <tr>
        <td>Haley Kennedy</td>
        <td>Senior Marketing Designer</td>
        <td>London</td>
        <td>43</td>
        <td>2012/12/18</td>
        <td>$313,500</td>
      </tr>
    
    </tbody>
    <tfoot>
      <tr>
        <th>Name
        </th>
        <th>Position
        </th>
        <th>Office
        </th>
        <th>Age
        </th>
        <th>Start date
        </th>
        <th>Salary
        </th>
      </tr>
    </tfoot>
  </table> -->