<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <button type="button" class="btn btn-primary float-right btn-sm" id="" data-toggle="modal"
                (click)="openmodal()">
                Add Raw Materail
            </button>
            <h4 class="card-title mt-0">Raw Materails List</h4>
        </div>
        <div class="card-body bg-white">
            <div class="animated flash">
                <div class="form-group row">
                    <div class="col-sm-1">
                        <select name="" id="" class="form-control" (change)="ListOfData($event.target.value)">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Search" name="search"
                                [(ngModel)]="Searchfilter">
                        </div>
                    </div>

                </div>
                <table class="table " id="DisplayCategoriesView">
                    <thead>
                        <th width="10%"></th>
                        <th (click)="sort('Item')" class="pointer"> ITEM
                            <span class="fa fa-sort" *ngIf="key =='Item'"></span>
                        </th>
                        <th>
                            CODE
                        </th>
                        <th>
                            IN STOCK QTY
                        </th>
                        <th>
                            PURCHASE PRICE
                        </th>

                        <th colspan="2" class="text-center">
                            Action
                        </th>
                    </thead>
                    <tbody [hidden]="RawMaterailsempty">
                        <tr *ngFor="let item of RawMaterailsList | orderBy: key : reverse | filter:Searchfilter | paginate: { itemsPerPage: listofCount, currentPage: p };"
                            [hidden]="SupplierNoDataFound">
                            <td>
                                <div *ngFor="let data of item.pictureList.picture">
                                    <img [src]="data.pictuterString"
                                        accept="image/png, image/jpeg" height="75px" width="75px">
                                </div>
                            </td>
                            <td class="mr-2">
                                {{item.rmName}}
                            </td>
                            <td class="mr-2">
                                {{item.itemcode}}
                            </td>
                            <td class="mr-2">
                                {{item.iStockOnHand}}
                            </td>
                            <td class="mr-2">
                                {{item.purchase_Price}}
                            </td>
                            <td class="text-right" (click)="GetRawMaterail(item.rmId)">
                                <button class="btn  btn-lg"> <i class="fa fa-pencil text-success"> </i></button>
                            </td>
                            <td class="mb-2" (click)="DeleteRawMaterails(item.rmId)">
                                <button class="btn  btn-lg"><i class="fa fa-trash text-danger"></i> </button>

                            </td>
                        </tr>
                        <tr [hidden]="!RawMaterailsempty">
                            <td colspan="3" class="text-success text-center">No Data Found...!</td>
                        </tr>
                    </tbody>
                    <pagination-controls [hidden]="RawMaterailsempty" (pageChange)="p = $event"></pagination-controls>

                </table>
                <div class="mt-2  mb-2 text-center" [hidden]="!RawMaterailsempty">
                    <div class="spinner-border text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ModelTitleString}}</h4>
                <button type="button" class="close" (click)="ResetForm()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <tabset>
                    <tab id="RawMaterialFormtab">
                        <ng-template tabHeading><i class="fa fa-plus text-info"></i> Details </ng-template>
                        <form [formGroup]="RawMaterialForm">
                            <input type="hidden" formControlName="rmId">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>NAME/ITEM</label>
                                    <input class="form-control" id="NameOrItem" formControlName="rmName"
                                        placeholder="NAME/ITEM" type="text"
                                        [ngClass]="{ 'is-invalid': FormSubmitted && f.rmName.errors }">
                                    <div *ngIf="FormSubmitted && f.rmName.errors" class="invalid-feedback">
                                        <div *ngIf="f.rmName.errors.required">NAME/ITEM is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>SKU</label>
                                    <i class="fa fa-info-circle text-info" tooltip="Stock Keeping Unit or Item Code."
                                        placement="right"></i>
                                    <input class="form-control" id="ItemCode" formControlName="itemcode"
                                        placeholder="ITEM CODE" type="text">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>ALTERNATIVE NAME</label>
                                    <input class="form-control" id="alternativeRMName"
                                        formControlName="alternativeRMName" placeholder="Alternative Raw Materail Name"
                                        type="text">
                                </div>

                                <div class="form-group col-sm-6">
                                    <label>DEFAULT SUPPLIER</label>
                                    <i class="fa fa-info-circle text-info mt-1 ml-1"
                                        tooltip="By selecting default supplier, any purchase order issued that includes this product will be automatically populated with this supplier."
                                        placement="right"></i>
                                    <select class="form-control" formControlName="supplierId" id="supplierId">
                                        <option value=0>--Select--</option>
                                        <option *ngFor="let supplier of SupplierLsi" [value]="supplier.warehouseId">
                                            {{supplier.warehouseName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>CATEGORIES</label>
                                    <i class="fa fa-info-circle text-info" tooltip="Specify one or more categories for this product. This allows you
                                    to filter and track your sales order by different categories."
                                        placement="right"></i>
                                    <select class="form-control" formControlName="productCategorieId" id="CategorieId">
                                        <option value=0>--Select--</option>
                                        <option *ngFor="let cat of ProductCategorieList" [value]="cat.categoriesId">
                                            {{cat.categoriesName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>BRAND</label>
                                    <select class="form-control" formControlName="brandId" id="BrandId">
                                        <option value=0>--Select--</option>
                                        <option *ngFor="let brand of ProductBrandList" [value]="brand.brandId">
                                            {{brand.brandName}}
                                        </option>
                                    </select>

                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>DEFAULT TAX CODE</label>
                                    <i class="fa fa-info-circle text-info mt-1 ml-1"
                                        tooltip="When making sales for this product, default tax will always be selected to save your time."
                                        placement="right"></i>
                                    <select class="form-control" formControlName="taxCodeId" id="CategorieId">
                                        <option value=0>--Select--</option>
                                        <option *ngFor="let cat of TaxCodeList" [value]="cat.taxId">
                                            {{cat.code}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>DEFAULT WAREHOUSE</label>
                                    <i class="fa fa-info-circle text-info mt-1 ml-1"
                                        tooltip="By selecting a default location, the warehouse location of this product will be automatically selected when an receive note is done to receive the stocks into your warehouse."
                                        placement="right"></i>
                                    <select class="form-control" formControlName="warehouseId" id="warehouseId">
                                        <option value=0>--Select--</option>
                                        <option *ngFor="let warehouse of WarehouseList" [value]="warehouse.warehouseId">
                                            {{warehouse.warehouseName}}
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>PURCHASE PRICE</label>
                                    <i class="fa fa-info-circle text-info"
                                        tooltip="Specify the default purchase price of this product, purchase price can be replaced when creating purchase order."
                                        placement="right"></i>
                                    <input class="form-control" id="purchase_Price" (keydown)="avoidkeyPress($event)"
                                        (keypress)="allownumberwithdot($event)" formControlName="purchase_Price"
                                        placeholder="0.00" type="text">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>SELLING PRICE</label>
                                    <i class="fa fa-info-circle text-info"
                                        tooltip="Specify the default selling price of this product, selling price can be replaced when creating quotation or sales order."
                                        placement="right"></i>
                                    <input class="form-control" id="selling_Price" (keydown)="avoidkeyPress($event)"
                                        (keypress)="allownumberwithdot($event)" formControlName="selling_Price"
                                        placeholder="0.00" type="text">
                                </div>
                            </div>


                        </form>

                    </tab>
                    <tab id="RawMaterialForm2tab">
                        <ng-template tabHeading><i class="fa fa-plus text-info"> </i> Stock
                        </ng-template>
                        <form [formGroup]="RawMaterialForm2">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>INITIAL STOCK ON HAND</label>
                                    <i class="fa fa-info-circle text-info mt-1 ml-1"
                                        tooltip="Stocks will be adjusted based on default location."
                                        placement="right"></i>
                                    <input class="form-control" id="iStockOnHand" (keydown)="avoidkeyPress($event)"
                                        (keypress)="allownumberwithdot($event)" formControlName="iStockOnHand"
                                        placeholder="Initial Stock On Hand" type="text">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>INITIAL COST PRICE</label>
                                    <i class="fa fa-info-circle text-info mt-1 ml-1"
                                        tooltip="The cost price of each individual item of your starting inventory."
                                        placement="right"></i>
                                    <input class="form-control" id="iCostPrice" (keydown)="avoidkeyPress($event)"
                                        (keypress)="allownumberwithdot($event)" formControlName="iCostPrice"
                                        placeholder="Initial Cost Price" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>INITIAL LANDED COST</label>
                                    <i class="fa fa-info-circle text-info mt-1 ml-1"
                                        tooltip="The total cost of 1 base unit of the product that includes shipment, customs & any administrative fees that you might want to add."
                                        placement="right"></i>
                                    <input class="form-control" id="iLandedCost" (keydown)="avoidkeyPress($event)"
                                        (keypress)="allownumberwithdot($event)" formControlName="iLandedCost"
                                        placeholder="0.00" type="text">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>REORDER QUANTITY</label>
                                    <i class="fa fa-info-circle text-info"
                                        tooltip="Track reorder on dashboard or under report (inventory report > stock reorder)."
                                        placement="right"></i>
                                    <input class="form-control" id="reorder_Quantity" (keydown)="avoidkeyPress($event)"
                                        (keypress)="allownumberwithdot($event)" formControlName="reorder_Quantity"
                                        placeholder="0" type="text">
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-sm-6">
                                    <label>MINIMUM ORDER QUANTITY</label>
                                    <input class="form-control" id="minimumu_Order_Quantity"
                                        (keydown)="avoidkeyPress($event)" (keypress)="allownumberwithdot($event)"
                                        formControlName="minimumu_Order_Quantity" placeholder="0" type="text">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>DESCRIPTION</label>
                                    <textarea class="form-control" id="Description" formControlName="description"
                                        placeholder="DESCRIPTION"></textarea>
                                </div>

                            </div>
                            <div class="row">
                                <div class=" col-sm-6"><br />
                                    <label>OPTIONS</label>
                                    <div class="custom-control custom-checkbox custom-control-inline offset-1">
                                        <input type="checkbox" class="custom-control-input" id="StockItem"
                                            formControlName="stockItem">
                                        <label class="custom-control-label" for="StockItem">STOCK ITEM</label>
                                        <i class="fa fa-info-circle text-info mt-1 ml-1" tooltip="Check this option if
                                        you’re keeping track of this product’s inventory movement."
                                            placement="right"></i>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="Taxable"
                                            formControlName="taxable">
                                        <label class="custom-control-label" for="Taxable">TAXABLE</label>
                                        <i class="fa fa-info-circle text-info mt-1 ml-1"
                                            tooltip="Check this option if tax is applicable for this product.."
                                            placement="right"></i>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </tab>
                    <tab id="RawMaterialForm3tab">
                        <ng-template tabHeading><i class="fa fa-plus text-info"></i> Unit of Measure
                        </ng-template>
                        <form [formGroup]="UnitofMeasure">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>BASE UOM</label>
                                    <i class="fa fa-info-circle text-info mt-1 ml-1"
                                        tooltip='Specify the smallest product unit that will be sold in. If this field is left blank, the system will take base UOM as "Unit(s)".'
                                        placement="right"></i>
                                    <select class="form-control" formControlName="uomId" id="uomId">
                                        <option value=0>--Select--</option>
                                        <option *ngFor="let UOMList of UOMList" [value]="UOMList.uomId">
                                            {{UOMList.uomName}}
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-sm-6"><br />
                                    <label>OUTER WEIGHT</label>
                                    <div class="input-group">
                                        <input class="form-control" id="iStockOnHand" (keydown)="avoidkeyPress($event)"
                                            (keypress)="allownumberwithdot($event)" formControlName="outer_Weight"
                                            placeholder="Outer Weight" type="text">
                                        <div class="input-group-append">
                                            <select class="form-control" formControlName="outer_Weight_metric_Units"
                                                id="outer_Weight_metric_Units">
                                                <option value=0>--Select--</option>
                                                <option *ngFor="let item of KgMetricUnitList"
                                                    [value]="item.metric_UnitsId">
                                                    {{item.metric_UnitsName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-9">
                                    <label>OUTER DIMENSION</label>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <input class="form-control" id="oD_Width" formControlName="oD_Width"
                                                (keydown)="avoidkeyPress($event)"
                                                (keypress)="allownumberwithdot($event)"
                                                (change)="OuterCBM(UnitofMeasure)" type="text" placeholder="Width">
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" id="oD_Height" formControlName="oD_Height"
                                                (keydown)="avoidkeyPress($event)"
                                                (keypress)="allownumberwithdot($event)"
                                                (change)="OuterCBM(UnitofMeasure)" type="text" placeholder="Height">
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" id="oD_length" formControlName="oD_length"
                                                (keydown)="avoidkeyPress($event)"
                                                (keypress)="allownumberwithdot($event)"
                                                (change)="OuterCBM(UnitofMeasure)" type="text" placeholder="Length">
                                        </div>
                                        <div class="1">
                                            <select class="form-control" (change)="outerUOM($event.target.value)"
                                                formControlName="oD_metric_Units" id="oD_metric_Units">
                                                <option value=0>--Select--</option>
                                                <option *ngFor="let item of FtMetricUnitList"
                                                    [value]="item.metric_UnitsId">
                                                    {{item.metric_UnitsName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>CBM</label>
                                    <input class="form-control" id="Description" disabled formControlName="oD_CBM"
                                        type="text" placeholder="--">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-sm-6"><br />
                                    <label>INNER WEIGHT</label>
                                    <div class="input-group">
                                        <input class="form-control" id="inner_Weight" (keydown)="avoidkeyPress($event)"
                                            (keypress)="allownumberwithdot($event)" formControlName="inner_Weight"
                                            placeholder="Innner Weight" type="text">
                                        <div class="input-group-append">
                                            <select class="form-control" formControlName="inner_Weight_metric_Units"
                                                id="inner_Weight_metric_Units">
                                                <option value=0>--Select--</option>
                                                <option *ngFor="let item of KgMetricUnitList"
                                                    [value]="item.metric_UnitsId">
                                                    {{item.metric_UnitsName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-9">
                                    <label>INNER DIMENSION</label>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <input class="form-control" id="iD_Width" formControlName="iD_Width"
                                                (keydown)="avoidkeyPress($event)"
                                                (keypress)="allownumberwithdot($event)"
                                                (change)="InnerCBM(UnitofMeasure)" type="text" placeholder="Width">
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" id="iD_Height" formControlName="iD_Height"
                                                (keydown)="avoidkeyPress($event)"
                                                (keypress)="allownumberwithdot($event)"
                                                (change)="InnerCBM(UnitofMeasure)" type="text" placeholder="Height">
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" id="iD_length" formControlName="iD_length"
                                                (keydown)="avoidkeyPress($event)"
                                                (keypress)="allownumberwithdot($event)"
                                                (change)="InnerCBM(UnitofMeasure)" type="text" placeholder="Length">
                                        </div>
                                        <div class="1">
                                            <select class="form-control" (change)="InnerUOM($event.target.value)"
                                                formControlName="iD_metric_Units" id="iD_metric_Units">
                                                <option value=0>--Select--</option>
                                                <option *ngFor="let item of FtMetricUnitList"
                                                    [value]="item.metric_UnitsId">
                                                    {{item.metric_UnitsName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>CBM</label>
                                    <input class="form-control" id="iD_CBM" disabled formControlName="iD_CBM"
                                        type="text" placeholder="--">
                                </div>
                            </div>
                        </form>
                    </tab>
                    <tab id="RawMaterialForm4tab">
                        <ng-template tabHeading><i class="fa fa-plus text-info"></i> Upload Picture
                        </ng-template>
                        <form [formGroup]="UploadPhotoForm">
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label>UPLOAD PICTURE</label>
                                    <input class=" mb-2" id="" (change)="handleFileSelect($event)"
                                        formControlName="pictuterString" placeholder="0" type="file">
                                </div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-6">
                                    <label>DEFAULT PICTUER</label>
                                    <div *ngFor="let item of PictureList.picture">
                                        <img *ngIf="item.defaultPicture" [src]="item.pictuterString"
                                            accept="image/png, image/jpeg" height="150px" width="150px">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="mt-3" [hidden]="PictureLenghtcount">
                            <div class="row">
                                <div *ngFor="let item of PictureList.picture" class="ml-5">
                                    <img [src]="item.pictuterString" height="150px" width="150px">
                                    <div class="ml-5 h4">
                                        <span *ngIf="item.defaultPicture" class="ml-2 text-primary">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span *ngIf="!item.defaultPicture" class="ml-2"
                                            (click)="SetDeafultPicture(item.pictuterId)">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span class="text-danger ml-2" (click)="DeletePicture(item.pictuterId)">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </tab>
                </tabset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="ResetForm()">Close</button>
                <button type="button" class="btn btn-primary"
                    (click)="AddRawMaterial(RawMaterialForm,RawMaterialForm2,UnitofMeasure)">Save
                    changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->