<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title mt-0">General Setup</h4>
        </div>
        <div class="card-body bg-white">
            <div class="row">
                <div class="form-group col-sm-12" id="setbtn">

                    <div class="m-3">
                        <h3 class="text-info">
                            Sales
                        </h3>
                        <button
                            class="btn m-2 p-4  bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0" (click)="CurrencyModal.show()">
                            <i class="fa fa-dollar fa-4x text-muted text-center clearfix"></i><br />
                            <label>Currency</label>
                            <p>5</p>
                        </button>

                        <button
                            class="btn m-2 p-4 bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0" (click)="OpenCreditTermModal()">
                            <i class="fa fa-money fa-4x text-muted text-center"></i>
                            <label>Credit Term</label>
                            <p>5</p>
                        </button>
                        <button
                            class="btn m-2 p-4  bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0" (click)="OpenPaymentTermModal()">
                            <i class="fa fa-money fa-4x text-muted text-center clearfix"></i>
                            <label>Payment Term</label>
                            <p>5</p>
                        </button>

                        <button
                            class="btn m-2 p-4 bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0" (click)="OpenShipmentTermModal()">
                            <i class="fa fa-truck fa-4x text-muted text-center"></i>
                            <label>Shipment Term</label>
                            <p>5</p>
                        </button>
                        <button
                            class="btn m-2 p-4  bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0" (click)="OpenShipmentMethodModal()">
                            <i class="fa fa-hand-o-right fa-4x text-muted text-center clearfix"></i>
                            <label>Shipment Method</label>
                            <label>5</label>
                        </button>

                        <button
                            class="btn m-2 p-4 bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0">
                            <i class="fa fa-credit-card-alt fa-4x text-muted text-center"></i>
                            <label>Additional Charge</label>
                            <p>5</p>
                        </button>
                        <button
                            class="btn m-2 p-4 bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0">
                            <i class="fa fa-money fa-4x text-muted text-center"></i>
                            <label>Sales Order Type</label>
                            <p>5</p>
                        </button>
                    </div>
                    <div class="m-3">
                        <h3 class="text-info">
                            Basic
                        </h3>
                        <button
                            class="btn m-2 p-4  bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0">
                            <i class="fa fa-building-o fa-4x text-muted text-center clearfix"></i><br />
                            <label>Industry</label>
                            <p>5</p>
                        </button>
                        <button
                            class="btn m-2 p-4  bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0" (click)="OpenCountryModal()">
                            <i class="fa fa-flag fa-4x text-muted text-center clearfix"></i><br />
                            <label>Country</label>
                            <p>5</p>
                        </button>
                        <button
                            class="btn m-2 p-4  bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0" (click)="OpenLocationModal()">
                            <i class="fa fa-home fa-4x text-muted text-center clearfix"></i><br />
                            <label> Location </label>
                            <p>5</p>
                        </button>
                        <button
                            class="btn m-2 p-4  bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0">
                            <i class="fa fa-tag fa-4x text-muted text-center clearfix"></i><br />
                            <label>Batch</label>
                            <p>5</p>
                        </button>
                        <button
                            class="btn m-2 p-4  bg-white btn-outline-info box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0" (click)="OpentaxcodeModal()">
                            <i class="fa fa-text-width fa-4x text-muted text-center clearfix"></i><br />
                            <label>Tax Code </label>
                            <p>5</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div bsModal #CurrencyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Currency</h4>
                <button type="button" class="close" (click)="CurrencyModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="">
                <tabset (click)="Currencytabclick($event.target.id)">
                    <tab id="CurrencyList">
                        <ng-template tabHeading><i class="fa fa-list text-info"></i> Currency List </ng-template>
                        <div class="table-responsive animated flash">
                            <table class="custom-table-s table table-striped">
                                <thead>
                                    <tr>
                                        <th>Currency</th>
                                        <th>Currency Code</th>
                                        <th>Status</th>
                                        <th class="text-center">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of CurrencyList">
                                        <td>{{item.currencyName}}</td>
                                        <td>{{item.code}}</td>
                                        <td>
                                            <label class="switch switch-3d switch-success">
                                                <input type="checkbox" class="switch-input" [checked]="item.status"
                                                    (change)="CurrencyChange($event.target.checked,item.currencyId)">
                                                <span class="switch-slider"></span>
                                            </label></td>
                                        <td class="h5">
                                            <span class="text-primary mr-3" style="cursor: pointer;"
                                                (click)="GetCurrency(item.currencyId)">
                                                <i class="fa fa-pencil"></i>
                                            </span>

                                            <span class="text-danger " style="cursor: pointer;"
                                                (click)="DeleteCurrency(item.currencyId)">
                                                <i class="fa fa-trash"></i>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </tab>
                    <tab id="CurrencyFor">
                        <ng-template tabHeading><i class="fa fa-plus text-info"> Currency Form</i>
                        </ng-template>
                        <form [formGroup]="CurrencyForm" class="formData-modal col-sm-12 ">
                            <input type="hidden" formControlName="CurrencyId">
                            <input type="hidden" formControlName="Status">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>CURRENCY NAME</label>
                                    <input class="form-control" id="CurrencyName" formControlName="CurrencyName"
                                        placeholder="CREDIT TERM CODE" type="text"
                                        [ngClass]="{ 'is-invalid': CurrencySubmiited && fCurrency.CurrencyName.errors }">
                                    <div *ngIf="CurrencySubmiited && fCurrency.CurrencyName.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="fCurrency.CurrencyName.errors.required">Currency Name is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>CURRENCY CODE</label>
                                    <input type="text" class="form-control" id="Code" formControlName="Code"
                                        placeholder="Currency Code"
                                        [ngClass]="{ 'is-invalid': CurrencySubmiited && fCurrency.Code.errors }">
                                    <div *ngIf="CurrencySubmiited && fCurrency.Code.errors" class="invalid-feedback">
                                        <div *ngIf="fCurrency.Code.errors.required">Code is required</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-primary pull-right"
                                (click)="AddCurrency(CurrencyForm)">{{CurrencybtnText}}</button><br />
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="CurrencyModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>
<div bsModal #CreditTermModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Credit Terms</h4>
                <button type="button" class="close" (click)="ResetCreditTerm()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="">
                <tabset id="CreditTermtabset" (click)="CreditTermtabclick($event.target.id)">
                    <tab id="CreditTermList">
                        <ng-template tabHeading><i class="fa fa-list text-info"></i> Credit Term List </ng-template>
                        <div class="table-responsive animated flash">
                            <table class="custom-table-s table table-striped">
                                <thead>
                                    <tr>
                                        <th>Credit Terms Code</th>
                                        <th>Duration</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of CreditTermList">
                                        <td>{{item.code}}</td>
                                        <td>{{item.duration}}</td>

                                        <td class="h5"> 
                                            <span class="text-primary mr-3" style="cursor: pointer;"
                                                (click)="GetCreditTerms(item.creditTermId)">
                                                <i class="fa fa-pencil"></i>
                                            </span>

                                            <span class="text-danger " style="cursor: pointer;"
                                                (click)="DeleteCreditTerms(item.creditTermId)">
                                                <i class="fa fa-trash"></i>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                    <tab id="CreditTermFor">
                        <ng-template tabHeading><i class="fa fa-plus text-info"> Credit Term Form</i>
                        </ng-template>
                        <form [formGroup]="CreditTermForm" class="formData-modal col-sm-12 ">
                            <input type="hidden" formControlName="CreditTermId">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>CREDIT TERM CODE</label>
                                    <input class="form-control" id="Code" formControlName="Code"
                                        placeholder="CREDIT TERM CODE" type="text"
                                        [ngClass]="{ 'is-invalid': CreditTermSubmiited && fCreditTerms.Code.errors }">
                                    <div *ngIf="CreditTermSubmiited && fCreditTerms.Code.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="fCreditTerms.Code.errors.required">Credit Term Code is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>DURATION</label>
                                    <input type="number" class="form-control" id="Duration" formControlName="Duration"
                                        placeholder="DURATION"
                                        [ngClass]="{ 'is-invalid': CreditTermSubmiited && fCreditTerms.Duration.errors }">
                                    <div *ngIf="CreditTermSubmiited && fCreditTerms.Duration.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="fCreditTerms.Duration.errors.required">Credit Term Code is required
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>DESCRIPTION</label>
                                    <textarea class="form-control" id="Description" formControlName="Description"
                                        placeholder="DURATION"></textarea>
                                </div>
                            </div>

                        </form>
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-primary pull-right"
                                (click)="AddCreditTerms(CreditTermForm)">Save
                                changes</button><br />
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="ResetCreditTerm()">Close</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #CountryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Countries</h4>
                <button type="button" class="close" (click)="CountryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="">
                <tabset id="countrytabset" (click)="tabclick($event.target.id)">
                    <tab id="CountryList">
                        <ng-template tabHeading><i class="fa fa-list text-info"></i> Country List </ng-template>
                        <div class="table-responsive animated flash">
                            <table class="table " id="AddressList">
                                <thead>
                                    <tr>
                                        <th>Country Name</th>
                                        <th>Country Code</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of CoutryList">
                                        <td>{{item.countryName}}</td>
                                        <td>+{{item.countryCode}}</td>
                                        <td class="h5">
                                            <span style="margin-left: 25%;">
                                                <span class="text-primary mr-3" style="cursor: pointer;"
                                                    (click)="GetCountry(item.countryId)">
                                                    <i class="fa fa-pencil"></i>
                                                </span>

                                                <span class="text-danger " style="cursor: pointer;"
                                                    (click)="DeleteCountry(item.countryId)">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <button type="button" class="btn btn-primary btn-md pull-right"
                                    (click)="AddNewAddress()">Add New </button> -->
                        </div>
                    </tab>
                    <tab id="CountryForm">
                        <ng-template tabHeading><i class="fa fa-plus text-info"> Country Form</i>
                        </ng-template>
                        <form [formGroup]="CountryForm" class="formData-modal col-sm-12">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="hidden" formControlName="countryId">
                                    <label for="city">COUNTRY NAME</label>
                                    <input class="form-control" formControlName="countryName"
                                        (keypress)="allowalpha($event)"
                                        [ngClass]="{ 'is-invalid': Countrysubmit && counform.countryName.errors }"
                                        placeholder="Country Name" type="text">
                                    <div *ngIf="Countrysubmit && counform.countryName.errors" class="invalid-feedback">
                                        <div *ngIf="counform.countryName.errors.required">Country Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="postal-code">COUNTRY CODE</label>
                                    <input class="form-control" id="" formControlName="countryCode"
                                        [ngClass]="{ 'is-invalid': Countrysubmit && counform.countryCode.errors }"
                                        (keypress)="allownumber($event)" placeholder="Country Code" type="text">
                                    <div *ngIf="Countrysubmit && counform.countryCode.errors" class="invalid-feedback">
                                        <div *ngIf="counform.countryCode.errors.required">Country Name is required</div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-primary pull-right"
                                (click)="AddCoutry(CountryForm)">Save
                                changes</button><br />
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="CountryReset()">Close</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #LocationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Location</h4>
                <button type="button" class="close" (click)="LocationReset()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="">
                <tabset (click)="locationtabclick($event.target.id)">
                    <tab id="locationList">
                        <ng-template tabHeading><i class="fa fa-list text-info"></i> Location List </ng-template>
                        <div class="table-responsive animated flash">
                            <table class="table " id="locationlist">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th class="text-center">Action</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of LocationList">
                                        <td>{{item.warehouseName}}</td>
                                        <td>{{item.warehousecode}}</td>
                                        <td class="h5">
                                            <span style="margin-left: 25%;">
                                                <span class="text-primary mr-3" style="cursor: pointer;"
                                                    (click)="GetLocation(item.warehouseId)">
                                                    <i class="fa fa-pencil"></i>
                                                </span>

                                                <span class="text-danger " style="cursor: pointer;"
                                                    (click)="DeleteLocation(item.warehouseId)">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                            </span>
                                        </td>
                                        <td>
                                            <label class="switch switch-3d switch-success">
                                                <input type="checkbox" class="switch-input" [checked]="item.isActive"
                                                    (change)="LocationChange($event.target.checked,item.warehouseId)">
                                                <span class="switch-slider"></span>
                                            </label></td>
                                        <td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </tab>
                    <tab id="locationFor">
                        <ng-template tabHeading><i class="fa fa-plus text-info"> Location Form</i>
                        </ng-template>
                        <form [formGroup]="LocationForm" class="formData-modal col-sm-12">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="hidden" formControlName="WarehouseId">
                                    <label for="city">LOCATION NAME</label>
                                    <input class="form-control" formControlName="WarehouseName"
                                        (keypress)="allowalpha($event)"
                                        [ngClass]="{ 'is-invalid': Locationsubmit && locaform.WarehouseName.errors }"
                                        placeholder="Location Name" type="text">
                                    <div *ngIf="Locationsubmit && locaform.WarehouseName.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="locaform.WarehouseName.errors.required">Location Name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="postal-code">CODE</label>
                                    <input class="form-control" id="" formControlName="Warehousecode"
                                        [ngClass]="{ 'is-invalid': Locationsubmit && locaform.Warehousecode.errors }"
                                        (keypress)="allownumber($event)" placeholder="Location Code" type="text">
                                    <div *ngIf="Locationsubmit && locaform.Warehousecode.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="locaform.Warehousecode.errors.required">Location Code is required
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-primary pull-right"
                                (click)="AddLocation(LocationForm)">Save
                                changes</button><br />
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="LocationReset()">Close</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #TaxcodeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tax Code</h4>
                <button type="button" class="close" (click)="TaxcodeReset()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="">
                <tabset (click)="taxcodetabclick($event.target.id)">
                    <tab id="taxcodeList">
                        <ng-template tabHeading><i class="fa fa-list text-info"></i> Tax Codes List </ng-template>
                        <div class="table-responsive animated flash">
                            <table class="table " id="">
                                <thead>
                                    <tr>
                                        <th>Code Name</th>
                                        <th>Code Amount</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of TaxcodeList">
                                        <td>{{item.code}}</td>
                                        <td>{{item.amount}}</td>
                                        <td class="h5">
                                            <span style="margin-left: 25%;">
                                                <span class="text-primary mr-3" style="cursor: pointer;"
                                                    (click)="GetTaxcode(item.taxId)">
                                                    <i class="fa fa-pencil"></i>
                                                </span>

                                                <span class="text-danger " style="cursor: pointer;"
                                                    (click)="DeleteTaxcode(item.taxId)">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </tab>
                    <tab id="taxcodeFor">
                        <ng-template tabHeading><i class="fa fa-plus text-info"> Tax Codes Form</i>
                        </ng-template>
                        <form [formGroup]="TaxcodeForm" class="formData-modal col-sm-12">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="hidden" formControlName="taxId">
                                    <label for="city">TAX CODE </label>
                                    <input class="form-control" formControlName="code" (keypress)="allowalpha($event)"
                                        [ngClass]="{ 'is-invalid': Taxcodesubmit && taxform.code.errors }"
                                        placeholder="Tax Code Name" type="text">
                                    <div *ngIf="Taxcodesubmit && taxform.code.errors" class="invalid-feedback">
                                        <div *ngIf="taxform.code.errors.required">Tax Code Name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="postal-code">AMOUNT</label>
                                    <input class="form-control" id="" formControlName="amount"
                                        [ngClass]="{ 'is-invalid': Taxcodesubmit && taxform.amount.errors }"
                                        (keydown)="avoidkeyPress($event)" (keypress)="allownumberwithdot($event)"
                                        placeholder="Tax Code Amount" type="text">
                                    <div *ngIf="Taxcodesubmit && taxform.amount.errors" class="invalid-feedback">
                                        <div *ngIf="taxform.amount.errors.required">Tax Code Amount is required
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-primary pull-right"
                                (click)="AddTaxcode(TaxcodeForm)">Save
                                changes</button><br />
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="TaxcodeReset()">Close</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #ShipmentTermModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Shipment Term</h4>
                <button type="button" class="close" (click)="ShipmentTermReset()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="">
                <tabset (click)="ShipmentTermtabclick($event.target.id)">
                    <tab id="ShipmentTermList">
                        <ng-template tabHeading><i class="fa fa-list text-info"></i> Shipment Term List </ng-template>
                        <div class="table-responsive animated flash">
                            <table class="table " id="">
                                <thead>
                                    <tr>
                                        <th>Code Name</th>
                                        <th>Description</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ShipmentTermList">
                                        <td>{{item.code}}</td>
                                        <td>{{item.description}}</td>
                                        <td class="h5">
                                            <span style="margin-left: 25%;">
                                                <span class="text-primary mr-3" style="cursor: pointer;"
                                                    (click)="GetShipmentTerm(item.shipmentTermId)">
                                                    <i class="fa fa-pencil"></i>
                                                </span>

                                                <span class="text-danger " style="cursor: pointer;"
                                                    (click)="DeleteShipmentTerm(item.shipmentTermId)">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </tab>
                    <tab id="ShipmentTermFor">
                        <ng-template tabHeading><i class="fa fa-plus text-info"> Shipment Term Form</i>
                        </ng-template>
                        <form [formGroup]="ShipmentTermForm" class="formData-modal col-sm-12">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="hidden" formControlName="shipmentTermId">
                                    <label for="city">SHIPMENT TERM CODE </label>
                                    <input class="form-control" formControlName="code" (keypress)="allowalpha($event)"
                                        [ngClass]="{ 'is-invalid': ShipmentTermsubmit && shiptermform.code.errors }"
                                        placeholder="Shipment Term Code Name" type="text">
                                    <div *ngIf="ShipmentTermsubmit && shiptermform.code.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="shiptermform.code.errors.required">Shipment Term Code Name is
                                            required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="postal-code">DESCRIPTION</label>
                                    <textarea class="form-control" id="" formControlName="description"
                                        placeholder="Shipment Term Description" type="text"></textarea>
                                </div>

                            </div>
                        </form>
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-primary pull-right"
                                (click)="AddShipmentTerm(ShipmentTermForm)">Save
                                changes</button><br />
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="ShipmentTermReset()">Close</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #ShipmentMethodModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Shipment Method</h4>
                <button type="button" class="close" (click)="ShipmentMethodReset()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="">
                <tabset (click)="ShipmentMethodtabclick($event.target.id)">
                    <tab id="ShipmentMethodList">
                        <ng-template tabHeading><i class="fa fa-list text-info"></i> Shipment Method List </ng-template>
                        <div class="table-responsive animated flash">
                            <table class="table " id="">
                                <thead>
                                    <tr>
                                        <th>Code Name</th>
                                        <th>Description</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ShipmentMethodList">
                                        <td>{{item.code}}</td>
                                        <td>{{item.description}}</td>
                                        <td class="h5">
                                            <span style="margin-left: 25%;">
                                                <span class="text-primary mr-3" style="cursor: pointer;"
                                                    (click)="GetShipmentMethod(item.shipmentMethodId)">
                                                    <i class="fa fa-pencil"></i>
                                                </span>

                                                <span class="text-danger " style="cursor: pointer;"
                                                    (click)="DeleteShipmentMethod(item.shipmentMethodId)">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </tab>
                    <tab id="ShipmentMethodFor">
                        <ng-template tabHeading><i class="fa fa-plus text-info"> Shipment Method Form</i>
                        </ng-template>
                        <form [formGroup]="ShipmentMethodForm" class="formData-modal col-sm-12">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="hidden" formControlName="shipmentMethodId">
                                    <label for="city">SHIPMENT METHOD CODE </label>
                                    <input class="form-control" formControlName="code" (keypress)="allowalpha($event)"
                                        [ngClass]="{ 'is-invalid': ShipmentMethodsubmit && smf.code.errors }"
                                        placeholder="Shipment Method Code Name" type="text">
                                    <div *ngIf="ShipmentMethodsubmit && smf.code.errors" class="invalid-feedback">
                                        <div *ngIf="smf.code.errors.required">Shipment Method Code Name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="postal-code">DESCRIPTION</label>
                                    <textarea class="form-control" id="" formControlName="description"
                                        placeholder="Shipment Method Description" type="text"></textarea>
                                </div>

                            </div>
                        </form>
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-primary pull-right"
                                (click)="AddShipmentMethod(ShipmentMethodForm)">Save
                                changes</button><br />
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="ShipmentMethodReset()">Close</button>
            </div>
        </div>
    </div>
</div>
<figure></figure>

<div bsModal #PaymentTermModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment Term</h4>
                <button type="button" class="close" (click)="PaymentTermReset()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="">
                <tabset (click)="PaymentTermtabclick($event.target.id)">
                    <tab id="PaymentTermList">
                        <ng-template tabHeading><i class="fa fa-list text-info"></i> Payment Term List </ng-template>
                        <div class="table-responsive animated flash">
                            <table class="table " id="">
                                <thead>
                                    <tr>
                                        <th>Code Name</th>
                                        <th>Duration</th>
                                        <th>Description</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of PaymentTermList">
                                        <td>{{item.code}}</td>
                                        <td>{{item.duration}}</td>
                                        <td>{{item.description}}</td>
                                        <td class="h5">
                                            <span style="margin-left: 25%;">
                                                <span class="text-primary mr-3" style="cursor: pointer;"
                                                    (click)="GetPaymentTerm(item.paymentTermId)">
                                                    <i class="fa fa-pencil"></i>
                                                </span>

                                                <span class="text-danger " style="cursor: pointer;"
                                                    (click)="DeletePaymentTerm(item.paymentTermId)">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </tab>
                    <tab id="PaymentTermFor">
                        <ng-template tabHeading><i class="fa fa-plus text-info"> Payment Term Form</i>
                        </ng-template>
                        <form [formGroup]="PaymentTermForm" class="formData-modal col-sm-12">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="hidden" formControlName="paymentTermId">
                                    <label for="city">PAYMENT TERM CODE </label>
                                    <input class="form-control" formControlName="code" (keypress)="allowalpha($event)"
                                        [ngClass]="{ 'is-invalid': PaymentTermsubmit && fPaymentTerms.code.errors }"
                                        placeholder="Payment Term Code Name" type="text">
                                    <div *ngIf="PaymentTermsubmit && fPaymentTerms.code.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="fPaymentTerms.code.errors.required">Payment Term Code Name is
                                            required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="city">PAYMENT TERM DURATION </label>
                                    <input class="form-control" formControlName="duration"
                                        (keypress)="allownumber($event)"
                                        [ngClass]="{ 'is-invalid': PaymentTermsubmit && fPaymentTerms.duration.errors }"
                                        placeholder="Payment Term duration" type="text">
                                    <div *ngIf="PaymentTermsubmit && fPaymentTerms.duration.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="fPaymentTerms.duration.errors.required">Payment Term Duration is
                                            required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="postal-code">DESCRIPTION</label>
                                    <textarea class="form-control" id="" formControlName="description"
                                        placeholder="Payment Term Description" type="text"></textarea>
                                </div>

                            </div>
                        </form>
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-primary pull-right"
                                (click)="AddPaymentTerms(PaymentTermForm)">Save
                                changes</button><br />
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="PaymentTermReset()">Close</button>
            </div>
        </div>
    </div>
</div>
<figure></figure>