<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title mt-0">General Setup</h4>
        </div>
        <div class="card-body bg-white">
            <div class="row">
                <div class="form-group col-sm-12">
                    <div class="m-3">
                        <button
                            class="btn m-2 p-4  bg-white btn-outline-primary box-shadow b-4x b-light btn-lg m-r m-t w-160"
                            tabindex="0">
                            <i class="fa fa-dollar fa-3x text-muted text-center"></i>
                            <label>Currency</label>
                            <p>5</p>
                        </button>

                        <button
                            class="btn   p-4  bg-white btn-outline-success box-shadow b-3x b-light btn-lg m-r m-t w-160"
                            tabindex="0">
                            <i class="fa fa-money fa-3x text-muted text-center"></i>
                            <label>Credit Term</label>
                            <p>5</p>
                        </button>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>