.border-dotted{
    border-style: dotted !important;
    border: 1px solid gray;
    border-radius: 5px;
}
@media (min-width: 992px) {
    .modal-lg, .modal-xl {
      max-width: 1200px;
    }
  }

  #AdditionalChargeModel{
    @media (min-width: 992px) {
      .modal-lg, .modal-xl {
        max-width: 1250px;
      }
    }
  }
  .pointer{
  cursor: pointer;
  }